.card {
    width: 1100px;
    height: 800px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(53, 48, 48);
}

.card-id {
    position: relative;
    left: 990px;
    top: 10px;
    color: white;
}

.card-img {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    left: 101px;
    top: 31px;
}

.card-name {
    position: relative;
    left: 65px;
    font-size: 25px;
    color: white;
}

.card-cost {
    position: relative;
    left: 800px;
    bottom: 94px;
    font-size: 30px;
}