@import 'normalize.css' screen; 

body {
    background: #1F2326;
    min-height: 2000px;
    overflow:hidden;
}

html {
    height: 100%;
    min-height: 2000px;
}

.top {
    position: relative;
    color: white;
    z-index: 2;
    text-align: end;
    height: 30px;
    display: flex;
    justify-content: end;
    background-color: grey;
}

.top a {
    text-decoration: none;
    color: white;
}

.cor {
    height: 30px;
    width: 30px;
    background-image: url(http://localhost/magaz/img/cor.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logout, .top-auth, .top-reg, .name, .cor {
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.logout a , .top-auth a, .top-reg a, .name a {
    display: block;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 2;
    width: 1600px;
    margin: 0 auto;
}

.elips1 {
    position: absolute;
    width: 1300px;
    height: 1300px;
    border-radius: 1300px;
    left: -385px;
    top: -711px;
    background: #FF4656;
}

.elips2 {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    left: 1700px;
    top: 74px;
    background: #FF4656;
}

.elips3 {
    position: absolute;
    width: 268px;
    height: 269px;
    border-radius: 269px;
    left: 1600px;
    top: 182px;
    background: #EFEFEF;
}

.elips4 {
    position: absolute;
    width: 98px;
    height: 98px;
    border-radius: 98px;
    left: 1800px;
    top: 475px;
    background: #505155;
}

.elips5 {
    position: absolute;
    width: 470px;
    height: 470px;
    border-radius: 470px;
    left: 177px;
    top: 800px;
    background: #EFEFEF;
}
